.workout-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.exercise-form-icon {
    width: 50px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    font-size: 14px;
}

.exercise-inputs {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.add-exercise-btn, .submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-exercise-btn:hover, .submit-btn:hover {
    background-color: #0056b3;
}

.mes {
    color: green;
    margin-top: 15px;
    text-align: center;
}
